$primary-color: #222222;
$primary-color: #664147;
$secondary-color: #2F9C95;
$teritory-color: #40C9A2;
$background-color: #E5F9E0;
$box-shadow: rgba(0, 0, 0, 0.2);

$glass-backgroundcolor: rgba(255, 255, 255, 0.25);
$glass-boxshadow: rgba(31, 38, 135, 0.37);
$glass-boxshadow: rgba(31, 38, 135, 0.1);
$glass-bordercolor: rgba(255, 255, 255, 0.1);
$glass-backdrop: blur(10px);

body,
html {
    color: $primary-color;
    background-color: $background-color;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.glass-effect {
    background: $glass-backgroundcolor !important;
    backdrop-filter: $glass-backdrop !important;
    -webkit-backdrop-filter: $glass-backdrop !important;
    box-shadow: 0 8px 32px 0 $glass-boxshadow !important;
    border-bottom: 1px solid $glass-bordercolor !important;
}

.h-full {
    height: 100vh;
}

.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-teritory {
    color: $teritory-color !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #16da44 !important;
}

.bg-primary {
    background-color: $background-color !important;
}


.bg-text-primary {
    background-color: $primary-color !important;
}

.bg-text-secondary {
    background-color: $secondary-color !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

// back to home button
.back-to-home {
    display: block;
    position: fixed;
    font-weight: bold;
    top: 20px;
    left: 20px;

    a {
        color: $secondary-color;
    }
}

.navbar-brand,
.nav-link {
    color: $primary-color !important;
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.btn-inv,
.btn-main,
.btn-sm {
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 100px;
    border-width: 0;
    color: $background-color;
    transition: all .3s ease-in-out;
}

.btn-main,
.btn-sm {
    background-color: $secondary-color;
    border: 2px solid $secondary-color !important;

    &:hover,
    &:hover {
        color: $primary-color;
        background: transparent;
    }
}

.btn-inv {
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $secondary-color;

    &:hover {
        color: $background-color;
        background-color: $secondary-color;
    }
}

.text-justify {
    text-align: justify !important;
}

// Dropdown menu
.dropdown-menu {
    background-color: $background-color;
    box-shadow: 0 0 15px 0 $box-shadow !important;
    min-width: 200px;

    &[data-bs-popper] {
        left: -50px !important;
    }

    a:hover {
        background-color: transparent !important;
    }
}

.navbar-toggler {
    border: none;
    outline: none;

    &:focus {
        box-shadow: none;
    }
}

.container-md {
    width: 60% !important;
}

.form-container {
    width: 50%;
}

.form {
    border-radius: 20px;
    padding: 40px;

    input,
    select,
    textarea {
        border-radius: 100px;
        color: $primary-color !important;
        outline: none;
        box-shadow: none !important;
        border-color: $secondary-color;
        background-color: transparent !important;

        &:focus,
        &:focus,
        &:focus {
            box-shadow: none !important;
        }
    }
}

.error-page {
    color: $primary-color;
    background-color: $background-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: $background-color;
}


@media (max-width: 1000px) {
    .form-container {
        width: 90% !important;
    }

    .container-md {
        width: 100% !important;
    }
}